.contact-info{
    padding: 32px;

    article{
        display: flex;
        align-items: center;
        position: relative;
        height: 240px;

        h2{
            font-family: Roboto;
            font-size: 200px;
            font-weight: 700;
            line-height: 234.38px;
            letter-spacing: -6px;
            color:  #F8F8F8;
            position: absolute;
            right: 0;
            top: 20px;
            z-index: -1;
        }

        div{
            display: flex;
            align-items: flex-start;

            img{
                margin-right: 22px;
            }
    
            div{
                display: flex;
                flex-direction: column;
                margin-top: 0;
    
                h3{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom:25px;
                }
    
                h4{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.41px;
                    text-align: left;
                    color: #777777;
                }
            }
        }
    }

    &__image{
        padding-top: 60%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .contact-info{
        &__article-container{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;

            article{
                width: 30%;
            }
        }

        &__image{
            padding-top: 50%;
            width: 80%;
            margin: 30px auto 0 auto;
        }
    }
}
