.food-menu{
    width: 100%;
    padding: 20px;
    position: relative;

    &__image-container{
        width: 90px;
        height: 115px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 50px;

        img{
            height: 115px;
            width: 115px;
        }
    }

    &__swiper-computer{
        display: none !important;
    }

    &__swiper-mobile{
        display: block !important;
    }

    p{
        margin-top: 135px;
        font-size: 14px;
        font-weight: 700;
        line-height: 15.23px;
        letter-spacing: 2.8px;
        color: #777777;
    }

    h2{
        margin: 24px 0px 32px 0px;
        color: #222222;
    }

    &__button-container{
        display: flex;
        justify-content: flex-end;

        div{
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10px;
            margin-left: 16px;
        }

        &__prev{
            background-image: url(../Images/SwiperLeftArrow.svg);
            background-color: #F8F8F8;
        }

        &__next{
            background-image: url(../Images/SwiperRightArrow.svg.svg);
            background-color: #BDAC8D;
        }
    }

    &__swiper-slide{
        div{
            display: flex;
            margin-bottom: 20px;
    
            img{
                min-width: 120px;
                min-height: 120px;
                max-width: 120px;
                max-height: 120px;
                margin: 0;
                color: white;
                position: static;
                right: 0px;
                margin-right: 30px;
            }
    
            div{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 0;
    
                h4{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.72px;
                    margin: 0;
                }
            
                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    color: #222222;
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .food-menu{
        padding: 0 50px 0 200px;
        margin-bottom: 60px;

        &__image-container{
            width: 165px;
            height: 165px;
            overflow: hidden;
            position: absolute;
            left: 25px;
            top: -120px;
    
            img{
                height: 165px;
                width: 165px;
            }
        }

        &__swiper-computer{
            display: block !important;
        }
    
        &__swiper-mobile{
            display: none !important;
        }

        &__button-container{
            position: absolute;
            top: 10px;
            right: 50px;
            display: flex;
            justify-content: flex-end;
    
            div{
                width: 62px;
                height: 62px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px;
                margin-left: 30px;
            }
    
            &__prev{
                background-image: url(../Images/SwiperLeftArrow.svg);
                background-color: #F8F8F8;
            }
    
            &__next{
                background-image: url(../Images/SwiperRightArrow.svg.svg);
                background-color: #BDAC8D;
            }
        }

        &__swiper-slide{
            display: flex;
            flex-flow: row wrap;
            div{
                display: flex;
                margin-bottom: 20px;
                width: 45%;
                margin-right: 5%;
        
                img{
                    min-width: 120px;
                    min-height: 120px;
                    max-width: 120px;
                    max-height: 120px;
                    margin: 0;
                    color: white;
                    position: static;
                    right: 0px;
                    margin-right: 30px;
                }
        
                div{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin: 0;
        
                    h4{
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.72px;
                        margin: 0;
                    }
                
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                        color: #222222;
                        margin: 0;
                    }
                }

                .food-menu__left-arrow{
                    display: none;
                    width: 32px !important;
                    height: auto;
                    min-width: 0;
                    min-height: 0;
                    justify-content: end;
                    margin: 0 5% 0 auto;
                }
            }

            div:hover{
                background-color: #222222;
                color: white;

                p{
                    color: white;
                }

                .food-menu__left-arrow{
                    display: block;
                }
            }
        }
    }
}