.intro-video{
    background-color: #222222;
    padding: 20px;
    display: block;

    video{
        margin-top: 36px;
        width: 80%;
        height: fit-content;
    }

    &__overtitle{
        margin-top: 64px !important;
        font-weight: 700 !important;
        line-height: 15.23px !important;
        letter-spacing: 2.8px !important;
        color: #BDAC8D !important;
    }

    h2{
        margin-top: 32px;
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -1.2px;
        text-align: left;
        color: white;
    }

    p{
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #C2C2C2;
    }

    button{
        margin: 36px 0 48px 0;
        width: 216px;
        height: 60px;
    }

    &__golden-background{
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .intro-video{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;
        height: 70%;
        padding: 60px 10%;

        div{
            width:40%;
            max-width: 480px;
        }

        video{
            margin-top: 64px;
            width: 55%;
            height: fit-content;
             z-index: 1;
        }

        &__golden-background{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 30% !important;
            background-color: #AD9D82;
            z-index: 0;           
        }
    }
}

@media only screen and (min-width: 1400px) {
    .intro-video{
        button
        {
            margin: 0;
            position: relative;
            bottom: 15%;
        }
    }
}