
@mixin button() {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 2.799999952316284px;
    border: none;
}

.button__filled{
    @include button();
    background-color: #BEAD8E;

    &:hover{
        cursor: pointer;
    }
}

.button__hollow{
    @include button();
    background-color: transparent;
    border: 2px solid #FFFFFF54;

    &:hover{
        cursor: pointer;
    }
}

.dark-theme{
    background-color: black;
    color: white;
}

.price{
    &__number{
        font-size: 32px !important;
        font-weight: 700 !important;
        line-height: 43px !important;
        text-align: center;
        color: #BEAD8E;
    }

    &__text{
        font-size: 13px !important;
        font-weight: 700 !important;
        line-height: 43px !important;
        text-align: center;
        color: #BEAD8E;
    }
}

.swiper {
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    height: 250px;
    background-color: #E5E5E5;
}

.swiper-slide{
    img{
        width: 100%;
        height: 100%;
    }
}

.swiper-button-prev
{
    width: 36px !important;
    height: 36px !important;
    background-color: white;
    color: transparent !important;
    background-image: url(../Images/SwiperLeftArrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px !important;
    
}

.swiper-button-next{
    width: 36px !important;
    height: 36px !important;
    background-color: #BDAC8D;
    color: transparent !important;
    background-image: url(../Images/SwiperRightArrow.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px !important;
}