.popular-rooms{
    padding: 48px 20px 48px 20px;
    margin-top: 60px;
    
    p{
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 15.23px;
        letter-spacing: 2.8px;
        color: #BDAC8D;
    }

    h2{
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -0.8px;
        margin-top: 25px;
        margin-bottom: 48px;
    }

    &__swiper{
        position: relative;
    }

    &__button-left{
        width: 32px;
        height: 32px;
        background-color: white;
        color: transparent;
        background-image: url(../Images/SwiperLeftArrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        position: absolute;
        top: 25%;
        left: -5px;
        z-index: 3;
    }

    &__button-right{
        width: 32px;
        height: 32px;
        background-color: #BDAC8D;
        color: transparent;
        background-image: url(../Images/SwiperRightArrow.svg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
        position: absolute;
        top: 25%;
        right: -5px;
        z-index: 3;
    }
}