.room-list{
    padding: 20px;
    padding-top: 60px;
    display: block;

    &__computer{
        display: none;
    }

    article{
        margin-bottom: 30px;

        .div-img{
            margin-bottom: 50px;
            padding-top: 75%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        img{
            width: 100%;
            height: auto;
        }

        h2{
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.72px;
            text-align: center;
            margin-bottom: 16px;
        }

        p{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            margin-bottom: 16px;
        }

        div{
            position: relative;
        }
    }

    &__pricing{
        display: flex;
        justify-content: space-evenly;

        h3{
            font-family: Archivo;
            font-size: 16px;
            font-weight: 700;
            line-height: 17.41px;
            color: #BDBDBD;
        }
    }

    &__features{
        position: absolute;
        bottom: -20%;
        left: 0;
    }
}

@media only screen and (min-width: 700px) {
    .room-list{
        article{
            h2{
                margin-top: 10%;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .room-list{
        display: none;
    
        &__computer{
            display: block;
        }

        &__wrapper{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 80%;
            margin: 35px auto;
        }

        article{
            width: 30%;

            h2{
                margin-top: 0;
            }
        }
    }
}